<ion-header no-border>

  </ion-header>

  <ion-content no-bounce padding>

    <!-- Sign in -->

    <ion-row class="app-icon-container">
      <ion-col text-center>
        <img src="../../assets/imgs/logo.png" />

      </ion-col>
    </ion-row>

    <form [formGroup]="credentialsForm">

      <!--
      <ion-input doesn't support autofocus
      -->
      <ion-item>
        <ion-label floating>
          Username
        </ion-label>
        <ion-input [formControl]="credentialsForm.controls['username']" type="text">
        </ion-input>
      </ion-item>

      <div *ngIf="!credentialsForm.controls.username.valid &&
          (credentialsForm.controls.username.dirty || submitted)" class="validator-error">
        Please enter a valid username.
      </div>

      <ion-item>
        <ion-label floating>
          Password
        </ion-label>
        <ion-input [formControl]="credentialsForm.controls['password']" type="password"></ion-input>
      </ion-item>

      <div *ngIf="credentialsForm.controls.password.hasError('pattern') &&
          (credentialsForm.controls.password.dirty || submitted)"
          class="validator-error">
          Please enter a valid passwords.
      </div>

      <ion-row class="sign-in-button-container">
        <ion-col text-center>
          <button ion-button block color="secondary"
                  [disabled]="!credentialsForm.valid" (click)="signIn()">
            Sign in
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <button ion-button clear color="light" (click)="forgotPassword()">
            Forgot your password?
          </button>
        </ion-col>
      </ion-row>

    </form>

  </ion-content>
